.clearfix:after{
    content: '';
    display: block;
    clear: both;
}
/* Стилизация глобальных блоков */
header{
    margin: 50px 0;
}

/* Стилизация глобальных классов */
.content-block{
    padding: 25px 0;
}
.container{
    max-width: 1250px;
    margin: 0 auto;
}

/* Стилизация внутренних классов */
.headline {
    text-align: center;
    font-size: 24px;
}
.item{
    width: 50%;
    float: left;
    font-size: 16px;
    margin: 50px 0;
}

/* Стилизация внутри внутренних классов */
.headline p{
    color: gray;
}
.item img{
    width: 10%;
    float: left;
    margin-right: 20px;
}
.item h4{
    margin-bottom: 10px;
    margin-left: 15%;
}
.item p{
    max-width: 70%;
    margin-left: 15%;
    color: darkgray;
}